<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/dist/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Zurl短链服务</title>
    <meta name="keywords" content="zurl,短链服务,短链接" />
    <meta name="description" content="Zurl是一款轻量级短链服务，使用FastAPI开发。" />
    <script type="module" crossorigin src="/dist/index.js?v={{ versionInfo.version_date }}"></script>
    <link rel="stylesheet" href="/dist/index.css?v={{ versionInfo.version_date }}">
    
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>